
    <footer class="site-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <p class="site-info">Designed and <br> Developed by <a href="http://amritghimire.com"><b>Amrit Ghimire</b></a></p>
                  <ul class="social-block">
                      <li><a href="http://twitter.com/iamritghimire"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="http://facebook.com/iamritghimire"><i class="ion-social-facebook"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

  <!-- script -->
  <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
  <script src="assets/js/main.js"></script>
