<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
      <div class="navbar-header">

          <!-- logo -->
          <div class="site-branding">
              <a class="logo" href="index.html">
                  
                  <!-- logo image  -->
                  <img src="assets/images/vector-logo-png.png" alt="Logo" class="logo-image hidden-xs">
                 <span class="visible-xs-block"><h2 class="margin-0">Vector</h2><small class="hidden-xs">A technical Festival</small></span>
              </a>
          </div>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

      </div><!-- /.navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="nav navbar-nav navbar-right">

              <!-- navigation menu -->
              <li class="active underlined"><a data-scroll href="#about">About</a></li>
              <li class="active underlined"><a data-scroll href="#event-themes">Event Themes</a></li>
              <li class="active underlined"><a data-scroll href="#pre-events">Pre-events</a></li>
              <li class="active underlined"><a data-scroll href="#team">Team</a></li>              
              <li class="active underlined"><a data-scroll href="#supported">Supported By</a></li>  
              <li ><a data-scroll href="#registration" class="btn btn-default btn-rounded-lg">Registration</a></li>
                
              <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
          
          </ul>
      </div>
  </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center"> 
  <div class="intro">
      <span class=" hidden-xs">
        <img src="assets/images/Vector-Main.png" class="img-responsive top-mid"  >
      </span>
      <span class="visible-xs-block">

      <h2>{{ site.date }}</h2>
      
      <h1>{{ site.title }}</h1>
      
      <p>FSU TECHNICAL FESTIVAL 2075</p>
      
      <a class="btn btn-default btn-rounded-lg" data-scroll href="#registration">Register Now</a>
      </span>

        <div class="countdown">
       <!-- <h1>Countdown Clock</h1> -->
           <div id="clockdiv">
            <div>
              <span class="days"></span>
              <div class="smalltext">Days</div>
            </div>
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>
    </div>

     
  </div>
</header>

<script type="text/javascript">
  

   function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    // daysSpan.innerHTML = t.days;
    daysSpan.innerHTML = ('0' + t.days).slice(-2);

    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
      daysSpan.innerHTML='00';
      hoursSpan.innerHTML='00';
      minutesSpan.innerHTML='00';
      secondsSpan.innerHTML='00';

    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

// var deadline = new Date(Date.parse(new Date()) + 9 * 24 * 60 * 60 * 1000);
var deadline = new Date("july 19, 2018");
initializeClock('clockdiv', deadline);

</script>
