<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
      <div class="navbar-header">

          <!-- logo -->
          <div class="site-branding">
              <a class="logo" href="index.html">
                  
                  <!-- logo image  -->
                  <img src="assets/images/Vector-logo-small.png" alt="Logo" class="logo-image hidden-xs">
                 <span class="visible-xs-block"><h2>Vector</h1><small>A technical Festival</small></span>
              </a>
          </div>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

      </div><!-- /.navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="nav navbar-nav navbar-right">

              <!-- navigation menu -->
              <li class="active"><a data-scroll href="#about">About</a></li>
              <li><a data-scroll href="#event-themes">Event Themes</a></li>
              <li><a data-scroll href="#registration">Registration</a></li>
              <li><a data-scroll href="#pre-events">Pre-events</a></li>
              <li><a data-scroll href="#team">Team</a></li>              
              <li><a data-scroll href="#supported">Supported By</a></li>                  
              <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
          
          </ul>
      </div>
  </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center"> 
  <div class="intro">
      <img src="assets/images/Vector-Main.png" class="img-responsive top-mid"  >

     
  </div>
</header>
