---
layout: default
---
<section id="about" class="section about">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">

              <h3 class="section-title">About</h3>

              <p>
                <b>VECTOR – Direct your Vision</b> is a national level technical festival of Paschimanchal
Campus organized by Free Students Union, Paschimanchal Campus in association with
different active Technical Clubs from Paschimanchal Campus. In this festival, different
Project exhibition, Project Competition, Code Camp and Mapathon are held along with real
time competitions such as Coding Contest and Circuit designing. This festival provides
practical knowledge and competitive spirits to the students of technical field. This festival
aims to develop potential of students and also improve the technical sectors all over Nepal.
This festival inspires and helps to direct the solutions and ideas developed to be
implemented in real life.
              </p>

              <figure>
                  <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
              </figure>

          </div><!-- /.col-sm-6 -->

          <div class="col-sm-6">


              <p><b>VECTOR</b> will have a number of pre-events such as Design Workshop/Contest, Android,
                Workshop, Python Training, Hardware Training/Contest, Soldering Competition,
                Seminars, Git Workshop, Django Training and .NET Workshop. These pre-events will promote the event.
                This will help to improve our event and we will be able to receive more number of visitors
                and participants. The main events on VECTOR will be project demonstration and
                competitions on Smart City, Open Hardware, Open Software, Open Mechanical, Civil
                Modelling, Robo Akhada, Code Camp and Mapathon. We will have other real time
                competitions such as Code With Coffee Season 2, Circuit Designing Gaming and Fooding Contests.</p>
                <h3 class="section-title multiple-title">What is Our Goal?</h3>

              <ul class="list-arrow-right">

                  <li>To promote the talents and creativity of students in a wide mass of people from their
                    respective fields.</li>
                  <li>To provide a platform for students to showcase their innovative ideas and projects.</li>
                  <li>To provide a knowledge sharing platform for students so that students from different
                    faculties can have inter-disciplinary knowledge</li>
                  <li>To provide a competitive platform for students and promote the talents and creativity
                    of students and have a reach out at a wide range of peoples from different fields and
                    areas.</li>
              
              </ul>

          </div><!-- /.col-sm-6 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="facts" class="section bg-image-1 facts text-center">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">

              <i class="ion-ios-calendar"></i>
              <h3>Shrawan <br>3rd,4th and 5th</h3>
          
          </div>
          <div class="col-sm-3">

              <i class="ion-ios-location"></i>
              <h3>Paschimanchal Campus<br>Pokhara-Lekhnath 19 </h3>
          
          </div>
          <div class="col-sm-3">

              <i class="ion-ribbon-b"></i>
              <h3 data-content="Smart City, Clean Energy, Health and Education,Agriculture,Tourism " id="themes-events-count"
              rel="popover" data-placement="bottom" data-original-title="Major Events"
              data-trigger="hover"
              >06 <br>Themes</h3>
          
          </div>
          <div class="col-sm-3">
          
              <i class="ion-trophy"></i>
              <h3 data-content="Thematic competition, Projects demonstration and +2 competition" id="major-events-count"
              rel="popover" data-placement="bottom" data-original-title="Major Events"
              data-trigger="hover">03<br>Major Events</h3>
          
          </div>
      </div><!-- row -->
  </div><!-- container -->
</section>

<section id="schedule" class="section schedule">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="section-title">Major Events</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="schedule-box">
                  <div class="time">
                      
                  </div>
                  <h3><u>Thematic Competition</u></h3>
                  <p>6 different themes such as <br>
                    <b>Smart City, Clean Energy, <br> Health and
                    Education, Agriculture,<br> Tourism and Open Theme</b>.</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="schedule-box">

                  <h3><u>Project Demonstration</u></h3>
                  <p>
                    <br>
                    Each project will be demonstated in <br>
                     the 3 days event in a separate stall <br>
                      for each project. <br>
                  </p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="schedule-box">
                  <h3><u>+2 Competition</u></h3>
                  <br>
                  <br>
                  <p>It motivates +2 level students to build <br>
                    innovative and creative projects on open theme.</p>
              </div>
          </div>
      </div>
</section>



<section id="minor-event" class="section">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="section-title">Minor Events</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                  <h3><a href="#">Civil Engineering Exhibition <br> and Competition</a></h3>
                  <br>
                  <p> &nbsp;&nbsp;&nbsp; <b>CESS</b> is organizing Civil Exhibition and Competition on the occasion of VECTOR. It
                      will be held in Pashchimanchal Campus on event date.</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">

                  <h3><a href="#"> Civil Quiz</a></h3>
                  <p>
                    <br>
                   <b>CESS</b> is organizing Civil Quiz on the <br> occasion of VECTOR. It will be held in
Pashchimanchal Campus on Event date. Student can test their limit on this quiz.<br>
                  </p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                  <h3><a href="http://codecamp2018.com/">CodeCamp</a></h3>
                  <br>
                  <br>
                  <p>
                      <b>Innovative Computer Engineering Students’ Society (iCES)</b> and <b>Club of Technical Students (CoTS)</b> 
                      are organizing a CodeCamp with the theme <u><b>"Human Aid"</b></u><b></b> on the occasion of technical festival  </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                  <h3><a href="http://codecamp2018.com/code-with-coffee.html">Code With Coffee <br>Season 2</a></h3>
                  <br>
                  <p> &nbsp;&nbsp;&nbsp; An open coding competition titled ‘Code With Coffee.’ 
                    was organized by Innovative computer Engineering Students' Society (i-CES) on 29th Asar 
                    of 2074. As a continuity to the competition, we are organizing Code with Coffee Season 2
                     in joint collaboration of i-CES and COTS on Ashad 25th 2075. </p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">

                  <h3><a href="#"> Robotics Competition</a></h3>
                  <p>
                    <br>
                   <b>Robotics club</b> of Pashchimanchal Campus is organizing a Robotics Competition on the
                   occasion of VECTOR . Competition based Robotics Demonstration explores a wide
                   horizon of possibilities of a machine to be smart and reliable.<br>
                  </p>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="scheduler">
                  <h3><a href="#">Geocaching</a></h3>
                  <br>
                  <br>
                  <p>
                       <b>Geomatics Engineering Students Association of Nepal (GESAN)</b> is organizing
                        “Geocaching” on the occasion of VECTOR. Geocaching is the recreational activity in
                        which the participants use the location-based information for finding the caches at a
                        specific location.
                      </p>
              </div> 
          </div>
      </div>
      

      </div>
      
</section>


<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Pre- Events</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid">
                    
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/django.jpg">
                    </li>
  
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/ai.jpg">
                    </li>
                    <div class="clearfix"></div>
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/illustrator.jpg">
                    </li>
                
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/mapathon.jpg">
                    </li>
  <div class="clearfix"></div>
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/robotics.jpg">
                    </li>
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/git.jpg">
                    </li>
                </ul>
            </div>
        </div>            
    </div>
  </section>
  

<section id="speakers" class="section speakers">
  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <h3 class="section-title">Our Team</h3>
          
          </div>
      </div>
<h1>Team details will be updated later.</h1>
      {% comment %} <div class="row">
          <div class="col-md-4">
              <div class="speaker">

                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-1.jpg">
                  </figure>

                  <h4>Jhon Smith</h4>

                  <p>CEO of Peren</p>

                  <ul class="social-block">
                      <li><a href=""><i class="ion-social-twitter"></i></a></li>
                      <li><a href=""><i class="ion-social-facebook"></i></a></li>
                      <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                      <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                  </ul>

              </div><!-- /.speaker -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
              <div class="speaker">

                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-2.jpg">
                  </figure>

                  <h4>Jhon Smith</h4>

                  <p>CEO of Peren</p>

                  <ul class="social-block">
                      <li><a href=""><i class="ion-social-twitter"></i></a></li>
                      <li><a href=""><i class="ion-social-facebook"></i></a></li>
                      <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                      <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                  </ul>

              </div><!-- /.speaker -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
              <div class="speaker">

                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-3.jpg">
                  </figure>

                  <h4>Jhon Smith</h4>

                  <p>CEO of Peren</p>

                  <ul class="social-block">
                      <li><a href=""><i class="ion-social-twitter"></i></a></li>
                      <li><a href=""><i class="ion-social-facebook"></i></a></li>
                      <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                      <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                  </ul>

              </div><!-- /.speaker -->
          </div><!-- /.col-md-4 -->
      </div><!-- /.row -->

      <div class="row">
          <div class="col-md-4">

              <div class="speaker">

                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-4.jpg">
                  </figure>

                  <h4>Jhon Smith</h4>

                  <p>CEO of Peren</p>

                  <ul class="social-block">
                      <li><a href=""><i class="ion-social-twitter"></i></a></li>
                      <li><a href=""><i class="ion-social-facebook"></i></a></li>
                      <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                      <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4">

              <div class="speaker">

                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-5.jpg">
                  </figure>

                  <h4>Jhon Smith</h4>

                  <p>CEO of Peren</p>

                  <ul class="social-block">
                      <li><a href=""><i class="ion-social-twitter"></i></a></li>
                      <li><a href=""><i class="ion-social-facebook"></i></a></li>
                      <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                      <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                  </ul>

              </div>
          </div>

          <div class="col-md-4">
              <div class="speaker">
                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-6.jpg">
                  </figure>
                  <h4>Jhon Smith</h4>
                  <p>CEO of Peren</p>
                  <ul class="social-block">
                      <li><a href=""><i class="ion-social-twitter"></i></a></li>
                      <li><a href=""><i class="ion-social-facebook"></i></a></li>
                      <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                      <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                  </ul>
              </div>
          </div>
      </div> {% endcomment %}
  </div>
</section>

<section id="registration" class="section registration">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="section-title">Registration</h3>
          </div>
      </div>
      <h1>A google form will be included later</h1>
          
      {% comment %} <form action="#" id="registration-form">
          <div class="row">
              <div class="col-md-12" id="registration-msg" style="display:none;">
                  <div class="alert"></div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" required>
                  </div>

                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname" required>
                  </div>

                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                  </div>

                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone" id="cell" name="cell" required>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Address" id="address" name="address" required>
                  </div>

                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Zip Code" id="zip" name="zip" required>
                  </div>

                  <div class="form-group">
                      <select class="form-control" name="city" id="city" required>
                          <option readonly>City</option>
                          <option>City Name 1</option>
                          <option>City Name 2</option>
                          <option>City Name 3</option>
                          <option>City Name 4</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <select class="form-control" name="program" id="program" required>
                          <option readonly>Select Your Program</option>
                          <option>Program Name 1</option>
                          <option>Program Name 2</option>
                          <option>Program Name 3</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="text-center mt20">
              <button type="submit" class="btn btn-black" id="registration-submit-btn">Submit</button>
          </div>
      </form> {% endcomment %}
  </div>
</section>

<section id="contribution" class="section bg-image-2 contribution">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="text-uppercase mt0 font-400">Free Students Union</h3>
             </div>
             <div class="clearfix"></div> 
             <div class="col-md-4">
                    Kiran Tiwari <br>
                    <b>Event Coordinator</b> <br>
                     Phone: 9861600049 | 9819147455<br> Email: kiran47455@gmail.com</p>
             </div>
             <div class="col-md-4">
                    Indra Paudel<br>
                    <b>President, FSU</b> <br>
                     Phone: 9843653485<br> Email: paudelindra99@gmail.com</p>
             </div>
             <div class="col-md-4">
                    <b>FSU Office</b> <br>
                     Phone: 061440858<br> Email: fsuwrc@gmail.com <br>
                    <a href="http://www.facebook.com/fsu073" class="no-style">www.facebook.com/fsu073</a></p>
             </div>
          </div>
      </div>
  </div>
</section>


<section id="partner" class="section partner">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="section-title">Supported By:</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-3">
              <a class="partner-box partner-box-1"></a>
          </div>
          <div class="col-sm-3">
              <a class="partner-box partner-box-2"></a>
          </div>
          <div class="col-sm-3">
              <a class="partner-box partner-box-3"></a>
          </div>
          <div class="col-sm-3">
              <a class="partner-box partner-box-4"></a>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-3">
              <a class="partner-box partner-box-5"></a>
          </div>
          <div class="col-sm-3">
              <a class="partner-box partner-box-6"><h1>SIMES</h1></a>
          </div>
          <div class="col-sm-3">
              <a class="partner-box partner-box-7"><h1>E-GEN</h1></a>
          </div>
          <div class="col-sm-3">
              <a class="partner-box partner-box-8"></a>
          </div>
      </div>   
</section>

<section id="faq" class="section faq">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="section-title">Event FAQs</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  
                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                              <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What is the price of the ticket ?</a>
                          </h4>
                      </div>

                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                              <h3>Hello</h3>
                              <p>Lorem Ipsum</p>
                          </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                              <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What is included in my ticket ?</a>
                          </h4>
                      </div>

                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">Hello</div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                              <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Office address ?</a>
                          </h4>
                      </div>

                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">Hello</div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                              <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> How should I dress ?</a>
                          </h4>
                      </div>

                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                          <div class="panel-body">Hello</div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                              <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> I have specific questions that are not addressed here. Who can help me ?</a>
                          </h4>
                      </div>

                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                          <div class="panel-body">Hello</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>

<section id="location" class="section location">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h3 class="section-title">Event Location</h3>
              <address>
                  <p>Paschimanchal Campus<br> Pokhara-Lekhnath 19<br> Lamachaur<br>
                    Kiran Tiwari <br>
                    <b>Event Coordinator</b> <br>
                     Phone: 9861600049 | 9819147455<br> Email:kiran47455@gmail.com</p>
              </address>
          </div>
          <div class="col-sm-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14058.520705804664!2d83.9800796588913!3d28.248902555711865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995947ddb83ddc5%3A0xcd98c6b6d110d582!2sPaschimanchal+Campus+(I.O.E)!5e0!3m2!1sen!2snp!4v1529460312360" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>          </div>
      </div>
  </div>
</section>




