---
layout: default
---
<section id="about" class="section about">
  <div class="container">
    
      <h3 class="section-title left">ABOUT</h3>
    
      <div class="row">
          <div class="col-sm-6">

              

              <p>
                <b>VECTOR – Direct your Vision</b> is a national level technical festival of Paschimanchal
              Campus organized by Free Students Union, Paschimanchal Campus in association with
              different active Technical Clubs from Paschimanchal Campus. In this festival, different
              Project exhibition, Project Competition, Code Camp and Mapathon are held along with real
              time competitions such as Coding Contest and Circuit designing. This festival provides
              practical knowledge and competitive spirits to the students of technical field. This festival
              aims to develop potential of students and also improve the technical sectors all over Nepal.
              This festival inspires and helps to direct the solutions and ideas developed to be
              implemented in real life.
              </p>
              

              <figure>
                  <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
              </figure>

          </div><!-- /.col-sm-6 -->

          <div class="col-sm-6">


              <p><b>VECTOR</b> will have a number of pre-events such as Design Workshop/Contest, Android,
                Workshop, Python Training, Hardware Training/Contest, Soldering Competition,
                Seminars, Git Workshop, Django Training and .NET Workshop. These pre-events will promote the event.
                This will help to improve our event and we will be able to receive more number of visitors
                and participants. The main events on VECTOR will be project demonstration and
                competitions on Smart City, Open Hardware, Open Software, Open Mechanical, Civil
                Modelling, Robo Akhada, Code Camp and Mapathon. We will have other real time
                competitions such as Code With Coffee Season 2, Circuit Designing Gaming and Fooding Contests.</p>
                <h3 class="section-title multiple-title">What is Our Goal?</h3>

              <ul class="list-arrow-right">

                  <li>To promote the talents and creativity of students in a wide mass of people from their
                    respective fields.</li>
                  <li>To provide a platform for students to showcase their innovative ideas and projects.</li>
                  <li>To provide a knowledge sharing platform for students so that students from different
                    faculties can have inter-disciplinary knowledge</li>
                  <li>To provide a competitive platform for students and promote the talents and creativity
                    of students and have a reach out at a wide range of peoples from different fields and
                    areas.</li>
              
              </ul>

          </div><!-- /.col-sm-6 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="facts" class="section bg-image-1 facts text-center">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">

              <!-- <i class="ion-ios-calendar"></i> -->
              <div class="icon img-responsive">
                 <img src="assets/images/date.png">
              </div>
              <h3>Shrawan <br>3rd,4th and 5th</h3>
          
          </div>
          
          <div class="col-sm-3">

              <!-- <i class="ion-ios-location"></i> -->
              <div class="icon img-responsive">
                 <img src="assets/images/location.png">
              </div>
              <h3>Paschimanchal Campus<br>Pokhara-Lekhnath 19 </h3>
          
          </div>
          <div class="col-sm-3">

              <!-- <i class="ion-ribbon-b"></i> -->
              <div class="icon img-responsive">
                 <img src="assets/images/themes.png">
              </div>
              <h3 data-content="Smart City, Clean Energy, Health and Education,Agriculture,Tourism " id="themes-events-count"
              rel="popover" data-placement="bottom" data-original-title="Major Events"
              data-trigger="hover"
              >06 <br>Themes</h3>
          
          </div>
          <div class="col-sm-3">
          
              <!-- <i class="ion-trophy"></i> -->
              <div class="icon img-responsive">
                 <img src="assets/images/events.png">
              </div>
              <h3 data-content="Thematic competition, Projects demonstration and +2 competition" id="major-events-count"
              rel="popover" data-placement="bottom" data-original-title="Major Events"
              data-trigger="hover">03<br>Major Events</h3>
          
          </div>
      </div><!-- row -->
  </div><!-- container -->
</section>

<section id="major-events" class="section schedule">
  <div class="container">
      <div class="row">
        <div class="title">
          <div class="col-md-12">
              <h3 class="section-title">Major Events</h3>
          </div>
        </div>
          
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="schedule-box ">
                  
                  <h3>Thematic Competition</h3>
                  <div class="row">
                    <div class="col-md-6 theme-name">
                      <p>Smart City</p>
                      
                    </div>
                    <div class="col-md-6 theme-name">
                      <p>Clean Energy</p>
                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 theme-name">
                      <p>Health & Education</p>
                      
                    </div>
                    <div class="col-md-6 theme-name">
                      <p>Agriculture</p>
                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 theme-name">
                      <p>Tourism</p>
                      
                    </div>
                    <div class="col-md-6 theme-name">
                      <p>Open Theme</p>
                      
                    </div>
                  </div>

              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="schedule-box">

                  <h3>Project Demonstration</h3>
                  <div class="row">
                       <p>
                    
                    Each project will be demonstated<br>
                     in the 3 days event in <br>a separate stall 
                      for <br> each project. <br>
                  </p>

                  </div>
                  
                 
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="schedule-box">
                  <h3>+2 Competition</h3>
                  <div class="row">
                    <p>It motivates +2 level students to build <br>
                    innovative and creative projects <br> on open theme.</p>
                    <br>
                  </div>
                  
              </div>
          </div>
      </div>
</section>


<section id="event-themes" class="section faq">

	<div class="container-fluid">
        <h3 class="section-title mb-2 title">Event Themes</h3>
        <p class="text-center text-muted h3">Click on the theme you are interested to learn about the theme, team specification, registration specification .</p>
        <hr>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                
                    <div class="card-block block-1">
                        <h3 class="card-title" data-toggle="modal" data-target="#smart-city">Smart City</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title" data-toggle="modal" data-target="#clean-energy">Clean Energy</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title" data-toggle="modal" data-target="#health-and-education">Health and education</h3>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title"  data-toggle="modal" data-target="#agriculture">Agriculture</h3>
                        </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title" data-toggle="modal" data-target="#tourism">Tourism</h3>
                        </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title" data-toggle="modal" data-target="#open-themes">Open themes</h3>
                            </div>
                </div>
            </div>
        </div>
    </div>	

  </section>
  <div class="modal fade" id="smart-city" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Smart City</h4>
        </div>
        <div class="modal-body">

 <p class="">
                                    A Smart City is an urban development vision to integrate Information and
Communication Technology (ICT) and Internet of Things (IoT) technology in a secure
fashion to manage a city's assets. These assets include local department’s information
systems, schools, libraries, transportation systems, hospitals, power plants, water supply
networks, waste management, law enforcement, and other community services. A smart
city is promoted to improve the efficiency of services. Smart City is an emerging new
technology that is about to be adopted by different cities in Nepal including Pokhara,
Chitwan, Biratnagar, Kathmandu and other major cities. The term ‘Smart City’ itself
illustrates the fact that the developmental tasks in a city needs to adopt a smart and efficient
technology thus providing effective and reliable services to the citizens with regular
monitoring of the services. ICT allows city officials to interact directly with the community
and the city infrastructure and to monitor what is happening in the city, how the city is
evolving, and how to enable a better quality of life.
                                </p>
                              {{ site.data.events.todisplay }}



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

 <div class="modal fade" id="clean-energy" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Clean Energy </h4>
        </div>
        <div class="modal-body">


 <p>
                                    Competition based on Alternative and Clean Energy provides an efficient and sustainable
way of fulfilling the energy consumption in the country with advancements in recent and
innovative technology. Competition-based learning also develops problem-solving skills
and helps students gain a greater and deeper understanding of scientific and mathematical
principles in an applied manner. The competitive elements of some competition-based
learning activities also provide an important additional dimension to innovative learning.
Within the correct context, competition engages and motivates students and drives
innovation, a vital requirement for any engineer or product designer. So the thematic Clean
Energy competition is an attempt or a research to apply the brilliant ideas of Nepalese
students in an innovative way for fulfilling the needs of energy through various alternative
and clean energy sources.
                                </p>
                                {{ site.data.events.todisplay }}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
 <div class="modal fade" id="health-and-education" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Health and Education</h4>
        </div>
        <div class="modal-body">


 <p>
                                    Competition based on Health and Education provides an efficient and sustainable way of
application of Technology in Health and Education Field in the country with advancements
in recent and innovative technology. Competition-based learning also develops problem-
solving skills and helps students gain a greater and deeper understanding of scientific and
mathematical principles in an applied manner. The competitive elements of some
competition-based learning activities also provide an important additional dimension to
innovative learning. Within the correct context, competition engages and motivates
students and drives innovation, a vital requirement for any engineer or product designer.
So the thematic Health and Education competition is an attempt or a research to apply the
brilliant ideas of Nepalese students in an innovative way of application of Technology in
Health and Education Field in the country with advancements in recent and innovative
technology.
                                </p>
                                {{ site.data.events.todisplay }}



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
 <div class="modal fade" id="agriculture" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Agriculture </h4>
        </div>
        <div class="modal-body">


<p>
                                    Competition based on Agriculture provides an efficient and sustainable way of using
technology towards the advancement of Agriculture in the country with the use of eco-
friendly and innovative technology. Competition-based learning also develops problem-
solving skills and helps students gain a greater and deeper understanding of scientific and
mathematical principles in an applied manner. The competitive elements of some
competition-based learning activities also provide an important additional dimension to
innovative learning. Within the correct context, competition engages and motivates
students and drives innovation, a vital requirement for any engineer or product designer.
So the thematic Agriculture competition is an attempt or a research to apply the brilliant
ideas of Nepalese students in an innovative way to promote Agriculture with technology
in the country with the use of eco-friendly and innovative technology.
                                </p>
                                {{ site.data.events.todisplay }}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
 <div class="modal fade" id="tourism" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tourism</h4>
        </div>
        <div class="modal-body">


 <p>
                                Competition based on Tourism provides an efficient and sustainable way of using
                                technology towards the advancement of Tourism in the country with the use of recent and
                                innovative technology. Competition-based learning also develops problem-solving skills
                                and helps students gain a greater and deeper understanding of scientific and mathematical
                                principles in an applied manner. The competitive elements of some competition-based
                                learning activities also provide an important additional dimension to innovative learning.
                                Within the correct context, competition engages and motivates students and drives
                                innovation, a vital requirement for any engineer or product designer. So the thematic
                                Tourism competition is an attempt or a research to apply the brilliant ideas of Nepalese
                                students in an innovative way to promote Tourism with technology in the country with the
                                use of recent and innovative technology.
                               </p>
                               {{ site.data.events.todisplay }}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
 <div class="modal fade" id="open-theme" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Open Theme</h4>
        </div>
        <div class="modal-body">
<p>Competition-based learning develops problem-solving skills and helps students gain a
                                greater and deeper understanding of scientific and mathematical principles in an applied
                                manner. The competitive elements of some competition-based learning activities also
                                provide an important additional dimension to innovative learning. Within the correct
                                context, competition engages and motivates students and drives innovation, a vital
                                requirement for any engineer or product designer. So the Open Theme competition is an
                                attempt or a research to apply the brilliant ideas of Nepalese students in an innovative way
                                of building projects other than the themes mentioned above.
                               </p>
                               {{ site.data.events.todisplay }}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

 

<section id="registration" class="section registration">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Registration</h3>
            </div>
        </div>
            <p>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfI4_cHTbkadWquFk2Giuikx_JZyP9Ck2s1KUPUnuPI2ISVzQ/viewform?embedded=true" width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </p>
        {% comment %} <form action="#" id="registration-form">
            <div class="row">
                <div class="col-md-12" id="registration-msg" style="display:none;">
                    <div class="alert"></div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" required>
                    </div>
  
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname" required>
                    </div>
  
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                    </div>
  
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone" id="cell" name="cell" required>
                    </div>
                </div>
  
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Address" id="address" name="address" required>
                    </div>
  
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip Code" id="zip" name="zip" required>
                    </div>
  
                    <div class="form-group">
                        <select class="form-control" name="city" id="city" required>
                            <option readonly>City</option>
                            <option>City Name 1</option>
                            <option>City Name 2</option>
                            <option>City Name 3</option>
                            <option>City Name 4</option>
                        </select>
                    </div>
  
                    <div class="form-group">
                        <select class="form-control" name="program" id="program" required>
                            <option readonly>Select Your Program</option>
                            <option>Program Name 1</option>
                            <option>Program Name 2</option>
                            <option>Program Name 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center mt20">
                <button type="submit" class="btn btn-black" id="registration-submit-btn">Submit</button>
            </div>
        </form> {% endcomment %}
    </div>
  </section>
  
  
<!-- minor events -->
<section id="minor-event" class="section">
  <div class="container">
      <div class="row">
        <div class="title">
            <div class="col-md-12">

              <h3 class="section-title">Minor Events</h3>
          </div>
        </div>
          
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                <div class="event1">
                   <h3><a href="#">Civil Engineering Exhibition and Competition</a></h3> 
                  
                  <p> <!-- &nbsp;&nbsp;&nbsp; --><b>CESS</b> is organizing Civil Exhibition and Competition on the occasion of VECTOR. It
                      will be held in Pashchimanchal Campus on event date.</p>
                </div>
                  
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                  <div class="event1">
                      <h3><a href="#"> Civil Quiz</a></h3>
                  <br>
                  <p>
                    
                   <b>CESS</b> is organizing Civil Quiz on the occasion of VECTOR. It will be held in
Pashchimanchal Campus on Event date. Student can test their limit on this quiz.
                  </p>
                  </div>
                 
              </div>
          </div>

          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                 <div class="event1">
                    <h3><a href="http://codecamp2018.com/">CodeCamp</a></h3>
                  <br>
                  <p>
                      <b>Innovative Computer Engineering Students’ Society (iCES)</b> and <b>Club of Technical Students (CoTS)</b> 
                      are organizing a CodeCamp with the theme <u><b>"Human Aid"</b></u><b></b> on the occasion of technical festival  </p>
                 </div>
                  
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                <div class="event1">
                    <h3><a href="http://letscodewithcoffee.com">Code With Coffee Season 2</a></h3>
                  
                  <p><!--  &nbsp;&nbsp;&nbsp; --> An open coding competition titled ‘Code With Coffee.’ 
                    was organized by Innovative computer Engineering Students' Society (i-CES) on 29th Asar 
                    of 2074. As a continuity to the competition, we are organizing Code with Coffee Season 2
                     in joint collaboration of i-CES and COTS on Ashad 25th 2075. </p>
                </div>
                
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="scheduler">
                <div class="event1">
                    <h3><a href="#"> Robotics Competition</a></h3>
                  <p>
                    
                   <b>Robotics club</b> of Pashchimanchal Campus is organizing a Robotics Competition on the
                   occasion of VECTOR . Competition based Robotics Demonstration explores a wide
                   horizon of possibilities of a machine to be smart and reliable.
                  </p>
                </div>

                  
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="scheduler">
              <div class="event1">
                  <h3><a href="#">Geocaching</a></h3>
                  
                  <p>
                       <b>Geomatics Engineering Students Association of Nepal (GESAN)</b> is organizing
                        “Geocaching” on the occasion of VECTOR. Geocaching is the recreational activity in
                        which the participants use the location-based information for finding the caches at a
                        specific location.
                      </p>
              </div>
                  
              </div> 
          </div>
      </div>
      

      </div>
      
</section><!-- minor events -->

<!-- pre-evnts -->

<section id="pre-events" class="section">
    
  <div class="container">
    <h3 class="section-title">PRE-EVENTS</h3>
    

    <div id="carousel-example" class="carousel slide" data-ride="carousel">
  
 

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
             <div class="row">
                <div class="col-md-4">
                  <div class="grid-item ">
                    <div class="image img-responsive center-block smht">
                      <img src="assets/images/photos/django.jpg">
                      
                    </div>
                    
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="grid-item">
                    <div class="image img-responsive center-block smht">
                      <img src="assets/images/photos/ai.jpg">
                       

                    </div>
                    
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="grid-item ">
                    <div class="image img-responsive center-block smht">
                      <img src="assets/images/photos/illustrator.jpg">
                      

                    </div>
                    
                  </div>
                </div>

                

                
              </div> <!-- row close -->

             </div><!-- item -->

                   <div class="item">
             <div class="row">
                <div class="col-md-4">
                  <div class="grid-item">
                    <div class="image img-responsive center-block smht">
                      <img src="assets/images/photos/catia.png">
                       

                    </div>
                    
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="grid-item ">
                    <div class="image img-responsive center-block smht">
                      <img src="assets/images/photos/mapathon.jpg">
                       

                    </div>
                    
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="grid-item ">
                    <div class="image img-responsive center-block smht">
                      <img src="assets/images/photos/robotics.jpg">
                       

                    </div>
                    
                  </div>
                </div>

                
               

                
              </div> <!-- row close -->
                   </div><!-- item -->
             


            </div> <!-- carousel inner -->

                  <a class="left carousel-control" href="#carousel-example" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#carousel-example" role="button" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
                </a>

          </div> <!-- carousel slide close -->
          
          
  </div> <!-- containner close -->

 

</section>


<!-- <section id="pre-events" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Pre- Events</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid">
                    
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block smht" src="assets/images/photos/django.jpg">
                    </li>
  
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block smht" src="assets/images/photos/ai.jpg">
                    </li>
                    <div class="clearfix"></div>
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block smht" src="assets/images/photos/illustrator.jpg">
                    </li>
                
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block smht" src="assets/images/photos/mapathon.jpg">
                    </li>
  <div class="clearfix"></div>
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block smht" src="assets/images/photos/robotics.jpg">
                    </li>
                    <li class="grid-item grid-item-sm-6">
                        <img alt="" class="img-responsive center-block smht" src="assets/images/photos/catia.png">
                    </li>
                </ul>
            </div>
        </div>            
    </div>
  </section> -->
  

<section id="team" class="section speakers">
  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <h3 class="section-title">Our Team</h3>
          
          </div>
      </div>
      <div class="row">
          {% for member in site.data.teams %}
          <div class="col-md-3">
              <div class="speaker">

                  <figure>
                      <img alt="" class="img-responsive center-block" src="assets/images/speakers/{{ member.photo }}">
                  </figure>

                  <h4>
                    {% if member.link != null %}
                        <a href="{{ member.link }}">
                    {% endif %}
                      {{ member.name }}
                    {% if member.link != null %}</a>{% endif %}
                      </h4>

                  <p>{{ member.title }}</p>

                  <ul class="social-block">
                    {% if member.twitter != null %}
                      <li><a href="http://twitter.com/{{ member.twitter }}"><i class="ion-social-twitter"></i></a></li>
                    {% endif %}
                      {% if member.facebook != null %}
                      <li><a href="http://facebook.com/{{ member.facebook }}"><i class="ion-social-facebook"></i></a></li>
                      {% endif %}

                  </ul>

              </div><!-- /.speaker -->
          </div><!-- /.col-md-3 -->
          {% if forloop.index==4 or forloop.index==8 %}
          <div class="clearfix"></div>
          {% endif %}
{% endfor %}
          
      </div> 
  </div>
</section>

<section id="contribution" class="section bg-image-2 contribution">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 class="fsu mt0 font-400">FREE STUDENTS UNION</h1>
             </div>
             <div class="clearfix"></div> 
             <div class="col-md-4">
              <div class="fsu-member">
                 <span><b>Kiran Tiwari</b></span>
                     <br>
                     <span style="font-style:italic; font-size:16px;">Event Coordinator</span>
                     
                    
                    <p>
                     Phone: 9861600049 | 9819147455<br> Email: kiran47455@gmail.com</p>
              </div>
              </div>
                  
             <div class="col-md-4">
                   <div class="fsu-member">
                      <span><b>Indra Paudel</b></span> <br>
                      <span style="font-style:italic; font-size:16px;">President, FSU</span>
                    
                    <p>
                     Phone: 9843653485<br> Email: paudelindra99@gmail.com</p>
                   </div>  
             </div>
             <div class="col-md-4">
                  <div class="fsu-member">
                     <span><b>FSU Office</b></span>
                       <br>
                      <p>
                     Phone: 061440858<br> Email: fsuwrc@gmail.com <br>
                    <a href="http://www.facebook.com/fsu073" class="no-style">www.facebook.com/fsu073</a></p>
                  </div>
                    
             </div>
          </div>
      </div>
  </div>
</section>


<section id="supported" class="section partner">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="section-title">Supported By:</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-3 border-partner">
              <a class="partner-box partner-box-1"></a>
          </div>
          <div class="col-sm-3 border-partner">
              <a class="partner-box partner-box-2"></a>
          </div>
          <div class="col-sm-3 border-partner">
              <a class="partner-box partner-box-3"></a>
          </div>
          <div class="col-sm-3 border-partner no-right">
              <a class="partner-box partner-box-4"></a>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-3 border-partner no-bottom">
              <a class="partner-box partner-box-5"></a>
          </div>
          <div class="col-sm-3 border-partner no-bottom">
              <a class="partner-box partner-box-6"></a>
          </div>
          <div class="col-sm-3 border-partner no-bottom">
              <a class="partner-box partner-box-7"><h1>E-GEN</h1></a>
          </div>
          <div class="col-sm-3 border-partner no-bottom no-right">
              <a class="partner-box partner-box-8"></a>
          </div>
      </div>   
</section>

<section id="location" class="section location">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h3 class="section-title location-title">Event Location</h3>
              <address>
                  <p>Paschimanchal Campus<br> Pokhara-Lekhnath 19<br> Lamachaur<br>
                   <span><b>Kiran Tiwari</b></span> <br>
                    <i>Event Coordinator</i><br>
                     Phone: 9861600049 | 9819147455<br> Email:kiran47455@gmail.com</p>
              </address>
          </div>
          <div class="col-sm-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14058.520705804664!2d83.9800796588913!3d28.248902555711865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995947ddb83ddc5%3A0xcd98c6b6d110d582!2sPaschimanchal+Campus+(I.O.E)!5e0!3m2!1sen!2snp!4v1529460312360"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>          </div>
      </div>
  </div>
</section>




